<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Asset Database
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Asset Group</th>
                <th>Description</th>
                <th>Location</th>
                <th>District</th>
                <th>Op Status</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Asset Group</th>
                <th>Description</th>
                <th>Location</th>
                <th>District</th>
                <th>Op Status</th>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>CCL01-001</td>
                <td>CCL 2-3/4</td>
                <td>Chevron 4</td>
                <td>Casing Collar Locator</td>
                <td>Chevron Name Pad</td>
                <td>Midland</td>
                <td>Good</td>
            </tr>


            </tbody>
        </table>
    </div>
</div>