            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{{ url_for('home') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>


                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Logistic Module
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ url_for('home') }}">Assign Asset</a>
                                    <a class="nav-link" href="{{ url_for('home') }}">Move Asset group</a>
                                </nav>
                            </div>


                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutstwo" aria-expanded="false" aria-controls="collapseLayoutstwo">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Maintenance Module
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayoutstwo" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ url_for('home') }}">Create Maintenance Event</a>
                                    <a class="nav-link" href="{{ url_for('home') }}">Maintenance History</a>
                                </nav>
                            </div>


                           <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsthree" aria-expanded="false" aria-controls="collapseLayoutsthree">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Admin Features
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayoutsthree" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ url_for('home') }}">Create New Asset</a>
                                    <a class="nav-link" href="{{ url_for('home') }}">Create New Asset Group</a>
                                    <a class="nav-link" href="{{ url_for('home') }}">Delete Data</a>
                                </nav>
                            </div>

                        </div>
                    </div>






                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Luis Navarro
                    </div>
                </nav>
            </div>